.title {
    display: flex;
    justify-content: center;
    width: 100%;

    h1 {
        color: var(--accentColor1_darkMode);
        text-align: center;
        font-size: 18vw;
    }
}

hr {
    border: solid 1px var(--accentColor2_darkMode);
    opacity: 50%;
    margin-bottom: 3vw;
}

