.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    section {
        width: 48%;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      justify-content: center;

      section {
        width: 100%;
      }
    }
}