<div class="navbar">
    <div class="menu">
        <ul class="menu_items">
            <a href="#"><img src="./assets/img/user-img.jpg" id="user-img" href="#home"></a>
            <li>
                <a href="#learn">LEARN</a>
            </li>
            <li>
                <a href="#blog">BLOG</a>
            </li>
            <li>
                <a href="#bookmarks">BOOKMARKS</a>
            </li>
            <li>
                <a href="#network">NETWORK</a>
            </li>
        </ul>
        <div id="btn_colorMode"></div>
        <div id="btn_mobile"></div>
    </div>
</div>

<hr>
